@model IEnumerable<BookWeb.Entities.Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tables</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-sm btn-neutral">New Category</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">

    <!-- Dark table -->
    <div class="row">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Categories</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Id</th>
                                <th scope="col" class="sort" data-sort="budget">Category Name</th>
                                <th scope="col" class="sort" data-sort="status">Location</th>
                                <th scope="col">Created By</th>
                                <th scope="col" class="sort" data-sort="completion">Date Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.CategoryName</td>
                                    <td>@category.Location</td>
                                    <td>@category.CreatedBy</td>
                                    <td>@category.DateCreated</td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@category.Id" onclick="return confirm('Are you sure you want to delete the category @category.CategoryName?')">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

